.apps {
  margin-bottom: 150px;

  &__col1 {
    width: 450px;
    margin-right: 100px;
    opacity: 0;
    transform: translate(-100px, 0);

    & p {
      margin-bottom: 36px;
    }

    & a img {
      position: relative;
      top: 2px;
      left: 10px;
    }
  }

  &__col2 {
    width: 570px;
    opacity: 0;
    transform: translate(100px, 0);
  }
}
