.footer {
  height: 432px;
  position: relative;
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);

  &__container {
    width: 1120px;
    display: flex;
    flex-direction: row;
  }
}
