* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Muli", sans-serif;
}

.wrapper {
  overflow-x: hidden;
  position: relative;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

div.visible {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 0.5s;
}
