.providers {
  margin-bottom: 150px;

  &__col1 {
    width: 570px;
    margin-right: 100px;
    width: 570px;
    opacity: 0;
    transform: translate(-100px, 0);

    & img {
      float: right;
    }
  }

  &__col2 {
    width: 450px;
    width: 570px;
    opacity: 0;
    transform: translate(100px, 0);

    & p {
      margin-bottom: 36px;
    }
  }

  &__dots {
    right: -70px;
  }
}
